<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="todolist not-done">
           <h1>Todos</h1>
              
                 <button class="btn btn-success" (click)="showForm()">Add Todo</button>
                  
                  <hr>
                  <ul id="sortable" class="list-unstyled">
                  <li class="ui-state-default" *ngFor="let item of filterItems(false); let i = index" >
                      <div class="row">
                          <div class="col-lg-8">
                                <h6> {{item.title}} / {{item.type}} / ( {{item.created_at | date}})</h6>
                                <p>{{item.note}}</p>
                                <small>{{item.tags}}</small>
                          </div>
                          <div class="col-lg-4">
                              <p class="pull-right">
                                  <button class="btn btn-success btn-xs" (click)="markAsComplted(i)"><i class="fa fa-check"></i></button>
                                  <button class="btn btn-info btn-xs" (click)="editTodo(i)"><i class="fa fa-pencil-square-o "></i></button>
                              </p>
                          </div>
                      </div>
                  </li>
              </ul>
              <div class="todo-footer">
                  <strong><span class="count-todos">{{filterItems(false).length}}</span></strong> Items Left
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="todolist">
           <h1>Already Done</h1>
              <ul id="done-items" class="list-unstyled">
                  <li *ngFor="let item of filterItems(true)">
                      {{item.title}} / {{item.type}}
                    <button class="remove-item btn btn-default btn-xs pull-right">
                      <span class="fa fa-remove"></span>
                    </button>
                  </li>
                  
              </ul>
          </div>
      </div>
  </div>
</div>

<div class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form  [formGroup]="todoForm" (ngSubmit)="onSubmit()">
                            
                    <div class="form-group">
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="title" 
                        placeholder="Title" />

                        <div 
                            class="text-danger"
                            *ngIf="todoForm.get('title').invalid && (todoForm.get('title').dirty || todoForm.get('title').touched)">
                            <i>Title is required</i>
                        </div>
                    </div>

                    <div class="form-group">
                        <input 
                            type="text" 
                            class="form-control" 
                            formControlName="type" 
                            placeholder="Enter Type TODO / TASK" />

                        <div 
                            class="text-danger"
                            *ngIf="todoForm.get('type').invalid && (todoForm.get('type').dirty || todoForm.get('type').touched)">
                            <i>Type is required</i>
                        </div>
                    </div>

                    <div class="form-group">
                        <input 
                            type="text" 
                            class="form-control" 
                            formControlName="tags" 
                            placeholder="Enter tags comma seprate" />

                        <div 
                            class="text-danger"
                            *ngIf="todoForm.get('tags').invalid && (todoForm.get('tags').dirty || todoForm.get('tags').touched)">
                            <i>Tags are required</i>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea 
                            type="text" 
                            class="form-control" 
                            formControlName="note" 
                            placeholder="Enter tags comma seprate"></textarea>

                        <div 
                            class="text-danger"
                            *ngIf="todoForm.get('note').invalid && (todoForm.get('note').dirty || todoForm.get('note').touched)">
                            <i>Note is required</i>
                        </div>
                    </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="pull-right m-b-0">
                                <button 
                                    type="button" 
                                    class="btn btn-default waves-effect"
                                    (click)="closeModal()">Close</button>
                                <button 
                                    type="sumbit" 
                                    class="btn btn-primary waves-effect waves-light"
                                    [disabled]="!branchForm.valid">
                                    Save Branch
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
    
                </form>
            </div>
           
          </div>
        </div>
      </div>